<div class="cards d-flex">

<% @lists.each do |list|%>
  <%# <% if list.photo.empty? %>
    <div class="card list-card m-2 d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80')">
  <%# <% else %>
    <%# <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%image_path(list.photo)')">
  <% end %>
    <h2><%= link_to list.name, list_path(list), class: "p-5 w-50" %></h2>
  </div>
<% end %>

</div>

<%= link_to 'Create list', new_list_path, class: "btn btn-primary" %>
